@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <base href="/">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Angular MVC</title>
    @Styles.Render("~/Content/Styles")

</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")

</body>
</html>